<h3>Cadastro de Novo Usuário:</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/usuario/novo" method="POST">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" placeholder="Nome do Novo usuário" class="form-control">

            <label for="slug">Slug</label>
            <input type="text" id="slug" name="slug" placeholder="Slug da categoria" class="form-control">
            <br>
            <button type="submit" class="btn btn-success">Cadastrar Novo Usuário</button>
        </form>
    </div>
</div>