<br><br>
<div class="jumbotron">
  <h1 class="display-4">Controle de Acesso</h1>
  <h2 class="lead">Acesso Autorizado.</h2>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/admin/usuario" role="button">Usuário </a>
  <a class="btn btn-primary btn-lg" href="/esp/log/4/0" role="button">LOG </a>
</div>